<div class="container">
    <footer class="sng-footer">
        <div class="row">
            <div class="col-sm-12">
                <div class="sng-footer__links">
                    <a href="/shoes" class="sng-footer__link">Shoes</a>
                    <a href="/glasses" class="sng-footer__link">Glasses</a>
                    <a href="/about-us" class="sng-footer__link">About Us</a>
                    <a href="/terms" class="sng-footer__link">Terms & Conditions</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="sng-footer__copyright">2019 All Rights Reserved</p>
                <p class="sng-footer__copyright">Built Using Angular</p>
            </div>
        </div>
    </footer>
</div>