<ul class="sng-plp-controls">
    <li class="sng-plp-controls__control sng-plp-controls__control-search">
        <input type="text" class="sng-plp-controls__search-inp" />
        <button class="sng-plp-controls__serach-btn fas fa-search"></button>
    </li>
    <li class="sng-plp-controls__control">
        <a href="#/">
            <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
            <i class="fas fa-th-list"></i>
        </a>
    </li>
    <li class="sng-plp-controls__control">
        <a href="#/">
            <i class="fas fa-th"></i>
        </a>
    </li>
</ul>