<div class="sng-newsletter">
    <h2 class="sng-newsletter__title"> Newsletter </h2>
    <h4 class="sng-newsletter__copy">Sign up our newsletter to receive updates from our store, promotions, and events upcoming.</h4>
    <div class="row">
        <div class="col-sm-12">
            <div class="sng-newsletter__form">
                <form>
                    <input type="email" class="sng-newsletter__email-input" />
                    <button class="sng-newsletter__subscribe-button">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>